<?xml version="1.0" encoding="EUC-KR"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<!-- SignIn.jsp mapping -->
<!-- SignIn.jsp 매핑 -->
<servlet>
  <servlet-name>JoinService</servlet-name>
  <jsp-file>/WEB-INF/SignIn.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>JoinService</servlet-name>
  <url-pattern>/SignIn.do</url-pattern>
</servlet-mapping>


<!-- Login.jsp mapping -->
<servlet>
  <servlet-name>LoginService</servlet-name>
  <jsp-file>/WEB-INF/Login.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>LoginService</servlet-name>
  <url-pattern>/Login.do</url-pattern>
</servlet-mapping>

<!-- FindPassword -->
<servlet>
  <servlet-name>FindPasswordService</servlet-name>
  <jsp-file>/WEB-INF/FindPassword.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>FindPasswordService</servlet-name>
  <url-pattern>/FindPassword.do</url-pattern>
</servlet-mapping>


</web-app>
