<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL구문 작성하는 공간 -->

<mapper namespace="com.safevoice.db.AlertDAO">
	
	 <select id="getAlertHistory" parameterType = "String" resultType = "alertvo">
	 	SELECT MEMBER_ID, ALERT_TYPE, ALERT_TIME, LAT, LON, ALERT_CONTEXT
	 	FROM ALERTS
	 	WHERE MEMBER_ID = #{id}
	 </select>
	 
	 <insert id="setAlertInfo" parameterType = "alertvo">
	 	INSERT INTO ALERTS (MEMBER_ID, ALERT_TYPE, LAT, LON, ALERT_CONTEXT)
	 	VALUES (#{memberId}, #{alertType}, #{lat}, #{lon}, #{alertContext})
	 </insert>
	 
	 <select id="getSubscriptionJsonByUserId" parameterType="string" resultType="string">
   	   SELECT json_subscription FROM members WHERE member_id = #{memberId}
	 </select>
	 
	 <select id="findParentSubscriptions" parameterType="string" resultType="string">
    	SELECT SUBSCRIPTION_JSON
 		FROM MEMBER
   		WHERE FAMILY_CD = (
        SELECT FAMILY_CD FROM MEMBER WHERE MEMBER_ID = #{childId}
    	)
    	AND MEM_TYPE = 'P'
</select>
	 
	 
</mapper>

