<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL구문 작성하는 공간 -->
<mapper namespace="com.safevoice.db.MemberDAO">
	
	 <insert id="signIn" parameterType = "membervo">
	 	INSERT INTO MEMBERS
	 	VALUES(#{id},#{email},#{pw},#{name},#{birthdate},#{phone},#{postcode},#{address},#{detailAddress},#{gender},#{memType})
	 </insert>
	 
	 <!-- 로그인 할 때 입력하는 정보 중 세션에 집어넣어야 할 정보가 있다.
	 로그인 SQL 에서는 그렇게 세션에 입력해야 할 정보를 입력해야 한다. -->
	 <select id="login" parameterType = "membervo" resultType = "membervo">
	 	SELECT ID, EMAIL, NAME, PHONE
	 	FROM MEMBERS
	 	WHERE ID = #{id}
	 	AND PW = #{pw}
	 </select>

	<select id="idDuplicateCheck" parameterType = "String">
		SELECT COUNT(*)
		FROM MEMBERS
		WHERE ID = #{id}
	</select>

	<update id="updateMember" parameterType="membervo">
    UPDATE member
    <set>
        <if test="email != null and email != ''">
            email = #{email},
        </if>
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="address != null and address != ''">
            address = #{address},
        </if>
        <if test="pw != null and pw != ''">
            pw = #{pw},
        </if>
    </set>
    WHERE id = #{id}
</update>
	<update id="updatdFamilyCd" parameterType = "membervo">
		UPDATE MEMBERS
		SET FAMILY_CD = (UUID())
		WHERE ID = #{id}
	</update>
	
	<delete id="signOut" parameterType = "membervo">
		DELETE *
		FROM MEMBERS
		WHERE ID = #{id} 
		AND PW = #{pw}
	</delete>
	
	<select id="findMember" parameterType = "membervo">
	 	SELECT *
	 	FROM MEMBERS
	 	WHERE ID = #{id}
	</select>
	
	<update id="updatePw" parameterType = "membervo">
		UPDATE MEMBERS
		SET PW = #{pw}
		WHERE ID = #{id}
		AND PHONE = #{phone}
	</update>
</mapper>