<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL구문 작성하는 공간 -->
<mapper namespace="com.safevoice.db.MemberDAO">
	<!-- 
	
	<select id="login" parameterType ="membervo" resultType="membervo">
		SELECT EMAIL, TELL, ADDRESS 
		FROM WEB_MEMBER
		WHERE EMAIL= #{email} 
		and PW= #{pw}
	</select>
	
	<select id="selectAll" resultType="membervo">
		SELECT EMAIL, TELL, ADDRESS
		FROM WEB_MEMBER
		WHERE EMAIL != 'admin'
	</select>
	
	<update id="update" parameterType ="membervo">
		UPDATE WEB_MEMBER
		SET PW = #{pw},
		TELL = #{tell},
		ADDRESS = #{address}
		WHERE EMAIL = #{email}
	</update>
	 -->
	 <insert id="signIn" parameterType = "membervo">
	 	INSERT INTO MEMBERS
	 	VALUES(#{id},#{email},#{pw},#{name},#{birth},#{tel},#{postcode},#{address},#{detailAddress},#{extraAddress},#{gender},#{pTel},#{pOrC})
	 </insert>
	 
	 <select id="login" parameterType = "membervo" resultType = "membervo">
	 	SELECT ID, EMAIL, NAME
	 	FROM MEMBERS
	 	WHERE ID = #{id}
	 	AND PW = #{pw}
	 </select>
	 
	 <delete id="signOut" parameterType = "membervo">
		DELETE *
		FROM MEMBERS
		WHERE ID = #{id}
	</delete>

	<!--
	
	<update id="setFamilyCode" parameterType = "membervo">

		UPDATE MEMBERS
		SET FAMILYCODE = #{familyCode}
		WHERE ID = #{pId} OR ID = #{cId}
	</update>

	  
	<update id="Update" parameterType = "memberve">
		UPDATE MEMBERS
		SET 
		WHERE ID = #{id}
	</update>
	-->
	
	<select id="findMember" parameterType = "membervo" resultType = "membervo">
	 	SELECT *
	 	FROM MEMBERS
	 	WHERE ID = #{id}
	 	AND TEL = #{tel}
	</select>
	
</mapper>